h1, h2, h3, h4, h5, h6, span{
	font-family: "Lucida Sans Unicode"!important;
}

.images{
	position:relative;
	float:left;
	width:100%;
}

.carousel-container{
	position: relative;
	margin: auto;
	border-bottom: solid skyblue;
	height:300px;
	overflow:hidden;
}

.numbertext{
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.slides{
	animation-name: slides;
	animation-duration: 8s;
}

@keyframes slides{
	0%{left:100%}
	40%{left:0}
	60%{left:0}
	100%{left:-100%}
}

/*side navbar*/
body {
	font-family: "Lato", sans-serif;
}
  
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(95, 204, 247);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
  
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
  
.sidenav a:hover {
	color: #f1f1f1;
}
  
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(52, 152, 219);
	color: white;
	text-align: center;
}
