h1, h2, h3, h4, h5, h6, span{
	font-family: "Lucida Sans Unicode"!important;
}

/*side navbar*/
body {
	font-family: "Lato", sans-serif;
}
  
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(95, 204, 247);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 10px;
}
  
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
  
.sidenav a:hover {
	background-color: #0000ff;
	color: #f1f1f1;
}
  
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(52, 152, 219);
	color: white;
	text-align: center;
}
#head_slide_navbar{
	margin-left: 30px;
	margin-top: 10px;
}
#table{
	overflow-x:auto;
	font-size:12px;
}

table{
	table-layout: auto;
	width:100%;
}

/* tr{
	border-bottom: 1px solid black;
} */

tr:nth-child(even) {background-color: #f2f2f2;}

th,td{
	text-align:center;
	padding:15px;
}



/*Slide Show*/


.images{
	position:relative;
	float:left;
	width:110%;
}

.carousel-container{
	position: relative;
	margin: auto;
	border-bottom: solid skyblue;
	height:500px;
	overflow:hidden;
}

.numbertext{
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.slides{
	animation-name: slides;
	animation-duration: 8s;
}

@keyframes slides{
	0%{left:100%}
	40%{left:0}
	60%{left:0}
	100%{left:-100%}
}




/*table*/

.tg  {
	border-collapse:collapse;
	border-spacing:0;
}
.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}
.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}
.tg .tg-cly1{
	text-align:left;
	vertical-align:middle
}
.tg .tg-lboi{
	border-color:inherit;
	text-align:left;
	vertical-align:middle
}
.tg .tg-9wq8{
	border-color:inherit;
	text-align:center;
	vertical-align:middle
}
.tg .tg-uyni{
	background-color:#c0c0c0;
	color:#000000;border-color:inherit;
	text-align:center;
	vertical-align:middle
}
.tg .tg-nrix{
	text-align:center;
	vertical-align:middle
}
.tg .tg-0lax{
	text-align:left;
	vertical-align:top
}     


